---
layout: default
---
{% assign items = site.data.indexes[page.object-id] %}
{% if page.av_source %}{% assign av = page.av_source | downcase %}{% endif %}

<div class="container">
  <div id="full_container" class="p-3 p-md-5 justify-content-center m-auto">
    <div id="object-meta">
      <h2 class="my-2 title">{{ page.title}}
        <!-- not sure how this "bio" thing is going to end up working --> 
        {% if page.content %}
        <a type="button" class="btn btn-sm btn-outline-dark meta" data-bs-toggle="modal" data-bs-target="#bio-modal">
          Click for bio</a>
        {% endif %}
      </h2>

      {% if page.content %}{% include feature/bio-modal.html %}{% endif %}

      <p class="meta">
        {%if page.location%}{{page.location}} on {%endif%}
        {%if page.date-interviewed%}{{page.date-interviewed}}{%endif%}
        {%if page.interviewer%} <br>Interviewer: {{page.interviewer}}{%endif%}
      </p>

      {% if av %}
      <div class="interview-object mt-3 px-3">
        {% include player/{{av}}.html %}
      </div>
      {% endif %}
      
    <div id="contents" class="pe-md-5">
      <div id="contents-container" class="pe-5">
        {% for item in items %}
          {% assign prev_index = forloop.index0 | times: 1 | minus: 1 %}
          {% assign prev_speaker = items[prev_index].speaker %}
          {% assign mod = forloop.index | plus: 1 | modulo: 5 %}
          <div id="{{page.object-id}}{{ forloop.index }}" class="row line my-1">
            <p class="words col-md-10 col-lg-8 col-print-12 pr-0">
              {% unless item.speaker == prev_speaker %}
                {%if item.speaker %}
                  <span class="fw-bold pe-3 pb-3">{{item.speaker | remove: ":"}}:</span>
                {% endif %}
              {% endunless %}
              {{item.title}}
            </p>
  
            <div class="col-12 col-md-2 timestamp mb-3 small text-center">
              {%if item.timestamp%}
                {% if page.av_source %}
                  {% capture avlink %}timestamp/{{page.av_source | downcase }}.html{% endcapture %}
                  <a href="{% include {{avlink}} %}">{{item.timestamp}}</a>
                {% else %}
                  {{item.timestamp}}
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>