---
layout: default
---
{% assign items = site.data.indexes[page.object-id] %}
{% if page.av_source %}{% assign av = page.av_source | downcase %}{% endif %}

<div class="container">
  <div id="full_container" class="p-3 p-md-5 justify-content-center m-auto">
    <div id="object-meta">
      <h2 class="my-2 title">{{ page.title}}
        <!-- not sure how this "bio" thing is going to end up working --> 
        {% if page.content %}
        <a type="button" class="btn btn-sm btn-outline-dark meta" data-bs-toggle="modal" data-bs-target="#bio-modal">
          Click for bio</a>
        {% endif %}
      </h2>

      {% if page.content %}{% include feature/bio-modal.html %}{% endif %}

      <p class="meta">
        {%if page.location%}{{page.location}} on {%endif%}
        {%if page.date-interviewed%}{{page.date-interviewed}}{%endif%}
        {%if page.interviewer%} <br>Interviewer: {{page.interviewer}}{%endif%}
      </p>

      {% if av %}
      <div class="interview-object mt-3 px-3">
        {% include player/{{av}}.html %}
      </div>
      {% endif %}
    </div>
      
    <div id="contents" class="pe-md-5">
      <div id="contents-container">
        {% for item in items %}
          {% assign prev_index = forloop.index0 | times: 1 | minus: 1 %}
          {% assign prev_speaker = items[prev_index].speaker %}
          {% assign mod = forloop.index | plus: 1 | modulo: 5 %}
      
          <div class="list-group-item segment">
            <div class="d-flex w-100 justify-content-between index-item">
              <h5 class="mb-1">{{item.title}}</h5>
              <small>{%if item.timestamp%}
                {% if page.av_source %}
                  {% capture avlink %}timestamp/{{page.av_source | downcase }}.html{% endcapture %}
                  <a href="{% include {{avlink}} %}">{{item.timestamp}}</a>
                {% else %}
                  {{item.timestamp}}
                {% endif %}
              {% endif %}</small>
            </div>
            {% if item.synopsis %}
              <p class="mb-1">{{item.synopsis}}</p>
            {% endif %}
            <small>
              <dl class="dl-horizontal">
                {% if item.partial_transcript %}
                  <dt>Partial Transcript:</dt>
                  <dd>{{item.partial_transcript}}</dd>
                {% endif %}
                {% if item.keywords %}
                  <dt>Keywords:</dt>
                  <dd>{{item.keywords}}</dd>
                {% endif %}
                {% if item.keywords %}
                  <dt>Subjects:</dt>
                  <dd>{{item.subjects}}</dd>
                {% endif %}
                </dl>
            </small>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>